{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Face Filter</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{% static "front_end/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "front_end/css/jumbotron-narrow.css" %}" rel="stylesheet">

    <style>
      .row-fluid{
          white-space: nowrap;
      }
      .row-fluid .col-lg-3{
          display: inline-block;
      }
    </style>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static "front_end/js/ie-emulation-modes-warning.js" %}"></script>

    <!--JQuery-->
    <!-- <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script> -->
    <script src="{% static "front_end/js/jquery-2.2.1.min.js" %}"></script>

    <!-- Angular JS -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script> -->
    <script src="{% static "front_end/js/angular.min.js" %}"></script>

    <!-- Other Sources Javascripts -->
    <script src="{% static "front_end/js/ie10-viewport-bug-workaround.js" %}"></script>
    <script src="{% static "front_end/js/index.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="faceDetect">

    <div class="container" ng-controller="faceDetectCtrl">
      <div class="header clearfix">
        <!-- <nav> -->
          <!-- <ul class="nav nav-pills pull-right"> -->
            <!-- <li role="presentation" class="active"><a href="#">Home</a></li> -->
            <!-- <li role="presentation"><a href="#">About</a></li> -->
            <!-- <li ng-show="main_file_name != ''"> -->
              <!-- <a class="btn btn-success" href="#" role="button">Uplod Photo</a> -->
            <!-- </li> -->
          <!-- </ul> -->
        <!-- </nav> -->
        <h3 class="text-muted">Face Filter</h3>
      </div>

      <div class="jumbotron">
        <div ng-class="{'hide':main_file_name == '' }">
          <img src="{$ main_file_name $}" style="max-height:300px"/>
        </div>
        <div ng-class="{'hide':main_file_name != '' }">
          <h1>Face Filter</h1>
          <p class="lead">Interactive face detection and processing</p>
          <p>
            <span class="btn btn-lg btn-success btn-file">
              Upload Image <input id="file_input" type="file" onchange="angular.element(this).scope().fileNameChanged()">
            </span>
          </p>
        </div>
      </div>

      <hr ng-show="effect_lst.length > 0">
      <div class="row" ng-show="effect_lst.length > 0">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h2>A list of effects to be applied:</h2>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2" ng-repeat="(idx, ef) in effect_lst">
          <div class="thumbnail">
            <img src="{$ ef.target $}">
            <div class="caption text-center">
              <p>{$ ef.effect $}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <butto class="btn btn-primary" ng-click="applyEffects()">Submit</button>
        </div>
      </div>

      <hr ng-show="face_lst.length > 0">

      <div class="row" ng-show="face_lst.length > 0">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h2>Faces Detected:</h2>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="(idx,face) in face_lst">
          <div class="thumbnail">
            <img src="{$ face.img $}" >
            <div class="caption">
              <p>Operations:</p>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button"
                        class="btn btn-default"
                        ng-class="{'btn-primary':face.effectToBeApplied == 'gaussian'}"
                        ng-click="addEffect(idx, 'gaussian')">
                        Gaussian
                </button>
                <button type="button"
                        class="btn btn-default"
                        ng-class="{'btn-primary':face.effectToBeApplied == 'original'}"
                        ng-click="addEffect(idx, 'original')">
                        Original
                </button>
                <button type="button"
                        class="btn btn-default"
                        ng-class="{'btn-primary':face.effectToBeApplied == 'laplacian'}"
                        ng-click="addEffect(idx, 'laplacian')">
                        Laplacian
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Cornell University</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
